doctype html
head
  meta(name="viewport" content="width=device-width")
  link(rel="stylesheet" href="stylesheets/app.css")
    
  meta(charset="utf-8")
  title Раменский

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")
  script(src="https://maps.googleapis.com/maps/api/js?v=3.exp")

  script.
    require('main');
     


body
  #header
    a(href="index.html")
      img(src="images/logo.png")
    input(type="search" placeholder="Поиск")
    button.gosearch
    nav(id="nav" role="navigation")
      ul
        li
          a(href="info.html") О КОМПАНИИ
        li 
          a(href="product.html") ПРОДУКЦИЯ И УСЛУГИ
        li 
          a(href="press.html") ПРЕСС-ЦЕНТР
        li 
          a(href="politika.html") ПОЛИТИКА ПРЕДПРИЯТИЯ
        li 
          a(href="rabota.html") КАРЬЕРА
        li 
           a(href="contact-info.html") ОБРАТНАЯ СВЯЗЬ

    nav(id="nav-mobile" role="navigation")
      span.menu-btn меню  
      ul
        li
          a(href="info.html") О КОМПАНИИ
        li 
          a(href="product.html") ПРОДУКЦИЯ И УСЛУГИ
        li 
          a(href="press.html") ПРЕСС-ЦЕНТР
        li 
          a(href="politika.html") ПОЛИТИКА ПРЕДПРИЯТИЯ
        li 
          a(href="rabota.html") КАРЬЕРА
        li 
           a(href="contact-info.html") ОБРАТНАЯ СВЯЗЬ

  #wrapper
    .header-in
      .container
        img(src="images/логотип.png")
         
    .content
      .container
        .left-side
          ul
            li
              a(href="info.html") РПЗ сегодня
            li
              a(href="info-2.html") История
            li
              a(href="info-3.html") Миссия
            li
              a(href="info-4.html") Руководство
            li.active-li
              a(href="info-5.html") Закупки
            li
              a(href="info-6.html") Раскрытие информации
            li
              a(href="info-7.html") Партнеры
            li
              a(href="info-8.html") Благодарности и награды
        .right-side
          h1 ЗАКУПКИ
          img.content-photo(src="images/dontknow.png")
          p
            |Раменский приборостроительный завод – одно из ведущих предприятий в 
            |авиационной промышленности по производству современных пилотажно-навигационных приборов, 
            |систем и комплексов для самолетов, вертолетов военной и гражданской авиации. 
            br
            br
            |Приборы и системы, выпускаемые предприятием, эксплуатируются на Ту-160, Ту-95МС, Ил-76, Ан-124, МиГ-25, Су-27СМ, 
            |а также на вертолетах Ми-24ПН, Ка-31, Ка-226 и других машинах. 
            br
            |Кроме того, завод производит изделия для подводных и 
            |надводных кораблей Военно-Морского Флота, cухопутной военной техники, войск РКО.
            br
            br
            |На сегодняшний день стратегия развития РПЗ подразумевает безусловное и своевременное выполнение государственного 
            |оборонного заказа, модернизацию производства, выпуск инновационной высокотехнологичной продукции с последующей 
            |реализацией на внутреннем и внешнем рынках, а также развитие кадрового потенциала при обеспечении социальной 
            |стабильности и повышении качества жизни работников завода.
    .pre-footer
      .container
        h1 КОНТАКТЫ
        ul
          li 
            a(href="#") Пресс-служба
          li 
            a(href="#") Отдел кадров
          li 
            a(href="#") Службы предприятия
     .footer
      a(href="index.html").left РАМЕНСКИЙ ПРИБОРОСТРОИТЕЛЬНЫЙ ЗАВОД
      .center
        a(href="http://www.youtube.com/channel/UCO9yikFjO3N9z2h5Q_QTT-Q" target="_blank")
          img(src="images/youtube.png")
        a(href="https://vk.com/public94963536" target="_blank")
          img(src="images/vk.png")
      a.right(href="http://www.YOUROCKDUDE.com" target="_blank") YOUROCKDUDE.COM
  #loader.overlay-loader
    .loader-background.color-flip
    img.loader-icon.spinning-cog(src="cogs/cog03.svg" data-cog="cog03")   