doctype html
head
  meta(name="viewport" content="width=device-width")
  link(rel="stylesheet" href="stylesheets/app.css")
  link(rel="stylesheet" href="http://i.icomoon.io/public/temp/58ba121031/UntitledProject/style.css")
  meta(charset="utf-8")
  title Раменский

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")
  script(src="https://maps.googleapis.com/maps/api/js?v=3.exp")

  script.
    require('main');
    require('coffee');


body
  #header
    a(href="index.html")
      img(src="images/logo.png")
    input(type="search" placeholder="Поиск")
    button.gosearch
    nav(id="nav" role="navigation")
      ul
        li
          a(href="info.html") О КОМПАНИИ
        li 
          a(href="product.html") ПРОДУКЦИЯ И УСЛУГИ
        li 
          a(href="press.html") ПРЕСС-ЦЕНТР
        li 
          a(href="politika.html") ПОЛИТИКА ПРЕДПРИЯТИЯ
        li 
          a(href="rabota.html") КАРЬЕРА
        li 
          a(href="#") ОБРАТНАЯ СВЯЗЬ

    nav(id="nav-mobile" role="navigation")
      span.menu-btn меню  
      ul
        li
          a(href="info.html") О КОМПАНИИ
        li 
          a(href="product.html") ПРОДУКЦИЯ И УСЛУГИ
        li 
          a(href="press.html") ПРЕСС-ЦЕНТР
        li 
          a(href="politika.html") ПОЛИТИКА ПРЕДПРИЯТИЯ
        li 
          a(href="rabota.html") КАРЬЕРА
        li 
          a(href="#") ОБРАТНАЯ СВЯЗЬ

  #wrapper
    .header-in
      .container
        img(src="images/logobig.png")
        p РАМЕНСКИЙ ПРИБОРОСТРОИТЕЛЬНЫЙ ЗАВОД
    .content
      .container
        .left-side
          ul
            li
              a(href="info.html") РПЗ сегодня
            li
              a(href="info-2.html") История
            li
              a(href="info-3.html") Миссия
            li
              a(href="info-4.html") Руководство
            li
              a(href="info-5.html") Закупки
            li.active-li
              a(href="info-6.html") Раскрытие информации
            li
              a(href="info-7.html") Партнеры
            li
              a(href="info-8.html") Благодарности и награды
        .right-side
          h1 РАСКРЫТИЕ ИНФОРМАЦИИ
          img(src="images/dontknow.png")
          p
            |Раменский приборостроительный завод – одно из ведущих предприятий в 
            |авиационной промышленности по производству современных пилотажно-навигационных приборов, 
            |систем и комплексов для самолетов, вертолетов военной и гражданской авиации. 
            br
            br
            |Приборы и системы, выпускаемые предприятием, эксплуатируются на Ту-160, Ту-95МС, Ил-76, Ан-124, МиГ-25, Су-27СМ, 
            |а также на вертолетах Ми-24ПН, Ка-31, Ка-226 и других машинах. 
            br
            |Кроме того, завод производит изделия для подводных и 
            |надводных кораблей Военно-Морского Флота, cухопутной военной техники, войск РКО.
            br
            br
            |На сегодняшний день стратегия развития РПЗ подразумевает безусловное и своевременное выполнение государственного 
            |оборонного заказа, модернизацию производства, выпуск инновационной высокотехнологичной продукции с последующей 
            |реализацией на внутреннем и внешнем рынках, а также развитие кадрового потенциала при обеспечении социальной 
            |стабильности и повышении качества жизни работников завода.
    .pre-footer
      .container
        h1 КОНТАКТЫ
        ul
          li 
            a(href="#") Пресс-служба
          li 
            a(href="#") Отдел кадров
          li 
            a(href="#") Службы предприятия
    .footer
