doctype html
head
  meta(name="viewport" content="width=device-width")
  link(rel="stylesheet" href="stylesheets/app.css")
    
  meta(charset="utf-8")
  title РПЗ

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")
  script(src="https://maps.googleapis.com/maps/api/js?v=3.exp")

  script.
    require('main');
     


body
  #header
    a(href="index.html")
      img(src="images/logo.png")
    input(type="search" placeholder="Поиск")
    button.gosearch
    nav(id="nav" role="navigation")
      ul
        li
          a(href="info.html") О КОМПАНИИ
        li 
          a(href="product.html") ПРОДУКЦИЯ И УСЛУГИ
        li 
          a(href="press.html") ПРЕСС-ЦЕНТР
        li 
          a(href="politika.html") ПОЛИТИКА ПРЕДПРИЯТИЯ
        li 
          a(href="rabota.html") КАРЬЕРА
        li 
           a(href="contact-info.html") ОБРАТНАЯ СВЯЗЬ

    nav(id="nav-mobile" role="navigation")
      span.menu-btn меню  
      ul
        li
          a(href="info.html") О КОМПАНИИ
        li 
          a(href="product.html") ПРОДУКЦИЯ И УСЛУГИ
        li 
          a(href="press.html") ПРЕСС-ЦЕНТР
        li 
          a(href="politika.html") ПОЛИТИКА ПРЕДПРИЯТИЯ
        li 
          a(href="rabota.html") КАРЬЕРА
        li 
           a(href="contact-info.html") ОБРАТНАЯ СВЯЗЬ

  #wrapper
    .header-in
      .container
        img(src="images/логотип.png")
         
    .content
      .container
        .left-side
          ul
            li
              a(href="info.html") РПЗ сегодня
            li
              a(href="info-2.html") История
            li
              a(href="info-3.html") Миссия
            li
              a(href="info-4.html") Руководство
            li
              a(href="info-5.html") Закупки
            li
              a(href="info-6.html") Раскрытие информации
            li
              a(href="info-7.html") Партнеры
            li.active-li
              a(href="info-8.html") Благодарности и награды
        .right-side
          h1 БЛАГОДАРНОСТИ И НАГРАДЫ
          img.content-photo(src="images/dontknow.png")
          p 
            |75 лет со дня основания
            br
            |17 сентября РПЗ отметил 75-летие со дня образования. В 8.30 состоялся 
            |торжественный митинг у памятника заводчанам, 
            |погибшим во время Великой Отечественной Войны. 
            br
            |Генеральный директор Сергей Вячеславович Анохин поздравил работников и 
            |ветеранов завода с юбилеем. 
            br
            |Участникам торжественного митинга была зачитана поздравительная 
            |телеграмма от Председателя Правительства РФ Д.А.Медведева, 
            |в которой был отмечен большой вклад работников завода в развитие 
            |авиаприборостроительной отрасли нашей страны.
          p
            |- Участие в выставке «Аэрошоу Индия-2015»
            br
            |18-22 февраля 2015 г. ОАО «РПЗ» принял участие в Международной авиационно-космической 
            |выставке "Аэрошоу Индия-2015", г. Бангалор, Индия в составе объединенной экспозиции 
            |предприятий КРЭТ. РПЗ представил экспонаты для продвижения на рынках Индии и 
            |Юго-восточной Азии: инерциальную навигационную систему ИНС-2000 и
            |бесплатформенную курсовертикаль БКВ-2В. Экспозиция КРЭТ вызвала 
            |большой интерес у посетителей выставки.
          p 
            |- Сертификат «Специалист года»
            br
            |Сертификат «Специалист года» вручен Алексею Ивановичу Безрукову, начальнику КБ за 
            |добросовестное выполнение поставленных задач, выдающиеся трудовые достижения, 
            |профессионализм и преданность своему делу.
          p
            |- Звание Лидер России-2014
            br
            |В феврале 2015 г. по итогам работы в 2014 г. Раменский приборостроительный завод  был  удостоен почетного звания «Лидер России 2014 года»
          p
            |- Орден  «Звезда Славы. Экономика России»
            br
            |Генеральный директор Сергей Вячеславович Анохин награжден орденом «Звезда славы. 
            |Экономика России» за значительный вклад в развитие экономики России.

          p
            |- Медаль «За выдающиеся заслуги в профессиональной сфере»
            br
            |Медалью «За выдающиеся заслуги в профессиональной сфере» был 
            |награжден заместитель главного инженера Андрей Евгеньевич Федоров.
          p
            |- за заслуги в освоении новой техники завод награжден орденом Трудового Красного Знамени;
          p
            |- за достигнутые успехи завод награжден Дипломом Совнархоза и СПС Московской области «Предприятие высокой культуры»;
          p
            |- за успехи в соревновании за высокую культуру производства и организацию труда заводу присвоенозвание 
            |«Предприятие высокой культуры производства и организации труда»;
          p
            |- разработанная на заводе система качества «СОВКИП» 
            |была зарегистрирована за №1 в отрасли и признана одной 
            |из передовых в стране. Опыт работы коллектива был 
            |представлен в Политехническом музее и на ВДНХ (ВВЦ)
          p
            |- за успехи в труде завод занесен на Всесоюзную Доску Почета на ВДНХ СССР; 
          p
            |- 1985 – 1990  РПЗ 19 кварталов назывался в числе победителей в соревновании предприятий отрасли;
          p
            |- 1986 – 1990  РПЗ 17 кварталов выходил победителем в соревновании предприятий Раменского района;
          p
            |- 1961 – 1990  за высокие производственные показатели заводу вручены 15 Красных знамен на вечное хранение;
          p
            |- 1989 за обеспечение высокого качества продукции 18 работников завода награждены Премией Совета Министров СССР;
          p
            |- 2001  система качества ОАО «РПЗ» сертифицирована в системе добровольной сертификации «Военный регистр» на 
            |соответствие требованиям стандартов СРПП и ГОСТ ИСО 9001;
          p
            |- 2001 Диплом I Международной выставки LASERTEC, Москва за высокое достижение в области отечественной 
    .pre-footer
      .container
        h1 КОНТАКТЫ
        ul
          li 
            a(href="#") Пресс-служба
          li 
            a(href="#") Отдел кадров
          li 
            a(href="#") Службы предприятия
     .footer
      a(href="index.html").left РАМЕНСКИЙ ПРИБОРОСТРОИТЕЛЬНЫЙ ЗАВОД
      .center
        a(href="http://www.youtube.com/channel/UCO9yikFjO3N9z2h5Q_QTT-Q" target="_blank")
          img(src="images/youtube.png")
        a(href="https://vk.com/public94963536" target="_blank")
          img(src="images/vk.png")
      a.right(href="http://www.YOUROCKDUDE.com" target="_blank") YOUROCKDUDE.COM
  #loader.overlay-loader
    .loader-background.color-flip
    img.loader-icon.spinning-cog(src="cogs/cog03.svg" data-cog="cog03")  