doctype html
head
  meta(name="viewport" content="width=device-width")
  link(rel="stylesheet" href="stylesheets/app.css")
    
  meta(charset="utf-8")
  title Раменский

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")
  script(src="https://maps.googleapis.com/maps/api/js?v=3.exp")

  script.
    require('main');
     


body
  #header
    a(href="index.html")
      img(src="images/logo.png")
    input(type="search" placeholder="Поиск")
    button.gosearch
    nav(id="nav" role="navigation")
      ul
        li
          a(href="info.html") О КОМПАНИИ
        li 
          a(href="product.html") ПРОДУКЦИЯ И УСЛУГИ
        li 
          a(href="press.html") ПРЕСС-ЦЕНТР
        li 
          a(href="politika.html") ПОЛИТИКА ПРЕДПРИЯТИЯ
        li 
          a(href="rabota.html") КАРЬЕРА
        li 
           a(href="contact-info.html") ОБРАТНАЯ СВЯЗЬ

    nav(id="nav-mobile" role="navigation")
      span.menu-btn меню  
      ul
        li
          a(href="info.html") О КОМПАНИИ
        li 
          a(href="product.html") ПРОДУКЦИЯ И УСЛУГИ
        li 
          a(href="press.html") ПРЕСС-ЦЕНТР
        li 
          a(href="politika.html") ПОЛИТИКА ПРЕДПРИЯТИЯ
        li 
          a(href="rabota.html") КАРЬЕРА
        li 
           a(href="contact-info.html") ОБРАТНАЯ СВЯЗЬ

  #wrapper
    .header-in
      .container
        img(src="images/логотип.png")
         
    .content
      .container
        .left-side
          ul
            li
              a(href="info.html") РПЗ сегодня
            li
              a(href="info-2.html") История
            li
              a(href="info-3.html") Миссия
            li.active-li
              a(href="info-4.html") Руководство
            li
              a(href="info-5.html") Закупки
            li
              a(href="info-6.html") Раскрытие информации
            li
              a(href="info-7.html") Партнеры
            li
              a(href="info-8.html") Благодарности и награды
        .right-side
          h1 РУКОВОДСТВО
          p
            span.name-bold
              |Сергей Вячеславович Анохин
            br
            span.dolzh
              |Генеральный директор
            br
            img.photo(src="images/11.jpg")
            br
            br
            |Родился 12 января 1969 г. в г. Казань в семье рабочих. 
            br
            br
            |Начал работать с 14 лет, совмещая трудовую деятельность с обучением в вечерней школе. Освоил ряд рабочих специальностей.
            br
            br
            |По завершении службы в Армии в течение 7 лет занимался частным бизнесом. Создание первых успешных предприятий совместил с получением высшего образования в г. Москва. В 2001 г. окончил Московский государственный университет экономики, статистики и информатики с присвоением квалификации «Экономист-менеджер» по специальности «Антикризисное управление». 
            br
            br
            |С 2012 г. работает в структуре предприятий Концерна «Радиоэлектронные технологии» (КРЭТ). Принял участие в создании проекта по выпуску систем радиоэлектронной борьбы «Рычаг».
            br
            br
            |С 2014 г. советом директоров Концерна назначен генеральным директором Раменского приборостроительного завода.
            br
            br
            |В новой должности Сергей Анохин сосредоточился на реализации стратегии развития предприятия, предусматривающей безусловное и своевременное выполнение гособоронзаказа, модернизацию производственных мощностей, выпуск инновационной высокотехнологичной продукции, усиление кадрового потенциала.
            br
            br
            |Руководитель РПЗ успешно сочетает проявление требовательности к себе и подчиненным с заботой о профессиональном росте сотрудников, созданием новых мотивационных программ, улучшением условий труда. Большое внимание Сергей Анохин уделяет привлечению, подготовке и развитию молодых специалистов, видя в них залог будущих успехов предприятия.
            br
            br
            |Женат, имеет троих детей.
            br
            br
            br
            br
            br
          p
            span.name-bold 
              |Сергей Иванович Пономарев
            br
            span.dolzh 
              |Главный инженер
            br
            img.photo(src="images/2.jpg")
            br
            br
            |Родился в 1958 г. 
            br
            br 
            |В 1976 г. начал трудовую деятельность на заводе как слесарь-сборщик. В 1985 г. закончил Московский авиационно-технологический институт, работал инженером - технологом, зам. главного технолога, главным технологом. 
            br
            br
            |С 2009 г. работает в должности главного инженера.
            br
            br
            |Сергей Пономарев видит залог успешного будущего предприятия в создании высокоэффективного, прибыльного производства и дальнейшего его развития за счет внедрения новой авиационной технологии и техники.
    .pre-footer
      .container
        h1 КОНТАКТЫ
        ul
          li 
            a(href="#") Пресс-служба
          li 
            a(href="#") Отдел кадров
          li 
            a(href="#") Службы предприятия
     .footer
      a(href="index.html").left РАМЕНСКИЙ ПРИБОРОСТРОИТЕЛЬНЫЙ ЗАВОД
      .center
        a(href="http://www.youtube.com/channel/UCO9yikFjO3N9z2h5Q_QTT-Q" target="_blank")
          img(src="images/youtube.png")
        a(href="https://vk.com/public94963536" target="_blank")
          img(src="images/vk.png")
      a.right(href="http://www.YOUROCKDUDE.com" target="_blank") YOUROCKDUDE.COM
  #loader.overlay-loader
    .loader-background.color-flip
    img.loader-icon.spinning-cog(src="cogs/cog03.svg" data-cog="cog03")