doctype html
head
  meta(name="viewport" content="width=device-width")
  link(rel="stylesheet" href="stylesheets/app.css")
    
  meta(charset="utf-8")
  title Раменский

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")
  script(src="https://maps.googleapis.com/maps/api/js?v=3.exp")

  script.
    require('main');
     


body
  #header
    a(href="index.html")
      img(src="images/logo.png")
    input(type="search" placeholder="Поиск")
    button.gosearch
    nav(id="nav" role="navigation")
      ul
        li
          a(href="info.html") О КОМПАНИИ
        li 
          a(href="product.html") ПРОДУКЦИЯ И УСЛУГИ
        li 
          a(href="press.html") ПРЕСС-ЦЕНТР
        li 
          a(href="politika.html") ПОЛИТИКА ПРЕДПРИЯТИЯ
        li 
          a(href="rabota.html") КАРЬЕРА
        li 
           a(href="contact-info.html") ОБРАТНАЯ СВЯЗЬ

    nav(id="nav-mobile" role="navigation")
      span.menu-btn меню  
      ul
        li
          a(href="info.html") О КОМПАНИИ
        li 
          a(href="product.html") ПРОДУКЦИЯ И УСЛУГИ
        li 
          a(href="press.html") ПРЕСС-ЦЕНТР
        li 
          a(href="politika.html") ПОЛИТИКА ПРЕДПРИЯТИЯ
        li 
          a(href="rabota.html") КАРЬЕРА
        li 
           a(href="contact-info.html") ОБРАТНАЯ СВЯЗЬ

  #wrapper
    .header-in
      .container
        img(src="images/логотип.png")
         
    .content
      .container
        .left-side
          ul
            li
              a(href="info.html") РПЗ сегодня
            li
              a(href="info-2.html") История
            li.active-li
              a(href="info-3.html") Миссия
            li
              a(href="info-4.html") Руководство
            li
              a(href="info-5.html") Закупки
            li
              a(href="info-6.html") Раскрытие информации
            li
              a(href="info-7.html") Партнеры
            li
              a(href="info-8.html") Благодарности и награды
        .right-side
          h1 МИССИЯ
          img.content-photo(src="images/dontknow.png")
          p
            |Миссия АО «РПЗ»: производство, ремонт и обеспечение потребителей высокотехнологичными пилотажно-навигационными приборами, системами и комплексами мирового класса при соблюдении интересов коллективов АО «РПЗ», АО «Концерн «Радиоэлектронные технологии», Государственной корпорации «Ростех», иных заинтересованных сторон и авиастроительной отрасли в целом. 
            br
            br
            |Наша главная цель – удовлетворение запросов потребителей в области высококачественной, конкурентоспособной продукции авиационного назначения, в т.ч. продукции гособоронзаказа.
            br
            br
            |Мы выполняем следующие обязательства перед заинтересованными сторонами:
            br
            br
            |  • перед потребителями:
            br
            |- подписываем контракты только при абсолютной уверенности в соответствии требованиям потребителей и наличии релевантного опыта;
            br
            |- оказываем услуги по послепродажному обслуживанию и поддержке.
            br
            br
            |  • перед работниками предприятия:
            br
            |- гарантируем комфортные, безопасные условия труда и своевременную заработную плату, а также возможности для профессиональной самореализации персонала.
            br
            br
            |  • перед авиастроительной отраслью:
            br
            |- создаем основу для повышения конкурентоспособности отрасли на отечественном и мировом рынке, укрепления ее престижа в обществе.







    .pre-footer
      .container
        h1 КОНТАКТЫ
        ul
          li 
            a(href="#") Пресс-служба
          li 
            a(href="#") Отдел кадров
          li 
            a(href="#") Службы предприятия
     .footer
      a(href="index.html").left РАМЕНСКИЙ ПРИБОРОСТРОИТЕЛЬНЫЙ ЗАВОД
      .center
        a(href="http://www.youtube.com/channel/UCO9yikFjO3N9z2h5Q_QTT-Q" target="_blank")
          img(src="images/youtube.png")
        a(href="https://vk.com/public94963536" target="_blank")
          img(src="images/vk.png")
      a.right(href="http://www.YOUROCKDUDE.com" target="_blank") YOUROCKDUDE.COM
  #loader.overlay-loader
    .loader-background.color-flip
    img.loader-icon.spinning-cog(src="cogs/cog03.svg" data-cog="cog03")