doctype html
head
  meta(name="viewport" content="width=device-width")
  link(rel="stylesheet" href="stylesheets/app.css")
  link(rel="stylesheet" href="http://i.icomoon.io/public/temp/58ba121031/UntitledProject/style.css")
  meta(charset="utf-8")
  title Раменский

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")
  script(src="https://maps.googleapis.com/maps/api/js?v=3.exp")

  script.
    require('main');
    require('coffee');


body
  #header
    a(href="index.html")
      img(src="images/logo.png")
    input(type="search" placeholder="Поиск")
    button.gosearch
    nav(id="nav" role="navigation")
      ul
        li
          a(href="info.html") О КОМПАНИИ
        li 
          a(href="product.html") ПРОДУКЦИЯ И УСЛУГИ
        li 
          a(href="press.html") ПРЕСС-ЦЕНТР
        li 
          a(href="politika.html") ПОЛИТИКА ПРЕДПРИЯТИЯ
        li 
          a(href="rabota.html") КАРЬЕРА
        li 
          a(href="#") ОБРАТНАЯ СВЯЗЬ

    nav(id="nav-mobile" role="navigation")
      span.menu-btn меню  
      ul
        li
          a(href="info.html") О КОМПАНИИ
        li 
          a(href="product.html") ПРОДУКЦИЯ И УСЛУГИ
        li 
          a(href="press.html") ПРЕСС-ЦЕНТР
        li 
          a(href="politika.html") ПОЛИТИКА ПРЕДПРИЯТИЯ
        li 
          a(href="rabota.html") КАРЬЕРА
        li 
          a(href="#") ОБРАТНАЯ СВЯЗЬ

  #wrapper
    .header-in
      .container
        img(src="images/logobig.png")
        p РАМЕНСКИЙ ПРИБОРОСТРОИТЕЛЬНЫЙ ЗАВОД
    .content
      .container
        .left-side
          ul
            li
              a(href="politika.html") Политика в области качества
            li
              a(href="politika-2.html") Кадровая политика
            li
              a(href="politika-3.html") Социальная политика
            li.active-li
              a(href="politika-4.html") Охрана труда и экология
        .right-side
          h1 ОХРАНА ТРУДА И ЭКОЛОГИЯ
          img(src="images/dontknow2.png")
          p
            |Руководство предприятия определило кадровую политику АО «РПЗ», направленную на:
            br
            |- сохранение, укрепление и развитие кадрового потенциала;
            br
            |- создание высокопроизводительного, сплоченного коллектива, способного своевременно реагировать на меняющиеся требования рынка труда;
   
          p 
            |Основными направлениями кадровой политики АО «РПЗ» являются: 
            br
            |- прогнозирование создания новых рабочих мест с учетом внедрения новых технологий;
            br
            |- разработка программ развития персонала с целью решения текущих и будущих задач предприятия;
            br
            |- разработка мотивационных механизмов повышения заинтересованности и удовлетворенности трудом;
            br
            |- создание современных систем подбора и отбора персонала;
            br
            |- разработка программ занятости;
            br
            |- усиление стимулирующей роли оплаты труда;
            br
            |- разработка социальных программ и др.
          p
            |Кадровая политика АО «РПЗ» осуществляется в соответствии с рядом принципов, 
            |важнейшими из которых являются: 
            br
            |- комплексность – охвачены все сферы деятельности по управлению персоналом;
            br
            |- системность – все составляющие элементы политики рассматриваются во взаимосвязи;
            br
            |- обоснованность – используются современные научные разработки в этой области, которые могли бы обеспечить максимальный экономический и социальный эффект;
            br
            |- эффективность – затраты на мероприятия в этой области должны окупаться результатами хозяйственной деятельности.
          p 
            |В структуре кадровой политики АО «РПЗ» выделяются несколько системообразующих блоков:
            br
            |- политика планирования, отбора и найма, подбора и расстановки, высвобождения кадров;
            br
            |- политика обучения работников, профориентации и адаптации, переподготовки, аттестации и оценки уровня квалификации, профессионального продвижения;
            br
            |- политика организации оплаты и стимулирования труда.
    .pre-footer
      .container
        h1 КОНТАКТЫ
        ul
          li 
            a(href="#") Пресс-служба
          li 
            a(href="#") Отдел кадров
          li 
            a(href="#") Службы предприятия
    .footer
