doctype html
head
  meta(name="viewport" content="width=device-width")
  link(rel="stylesheet" href="stylesheets/app.css")
  link(rel="stylesheet" href="http://i.icomoon.io/public/temp/58ba121031/UntitledProject/style.css")
  meta(charset="utf-8")
  title Раменский

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")
  script(src="https://maps.googleapis.com/maps/api/js?v=3.exp")

  script.
    require('main');
    require('coffee');


body
  #header
    a(href="index.html")
      img(src="images/logo.png")
    input(type="search" placeholder="Поиск")
    button.gosearch
    nav(id="nav" role="navigation")
      ul
        li
          a(href="info.html") О КОМПАНИИ
        li 
          a(href="product.html") ПРОДУКЦИЯ И УСЛУГИ
        li 
          a(href="press.html") ПРЕСС-ЦЕНТР
        li 
          a(href="politika.html") ПОЛИТИКА ПРЕДПРИЯТИЯ
        li 
          a(href="rabota.html") КАРЬЕРА
        li 
          a(href="#") ОБРАТНАЯ СВЯЗЬ

    nav(id="nav-mobile" role="navigation")
      span.menu-btn меню  
      ul
        li
          a(href="info.html") О КОМПАНИИ
        li 
          a(href="product.html") ПРОДУКЦИЯ И УСЛУГИ
        li 
          a(href="press.html") ПРЕСС-ЦЕНТР
        li 
          a(href="politika.html") ПОЛИТИКА ПРЕДПРИЯТИЯ
        li 
          a(href="rabota.html") КАРЬЕРА
        li 
          a(href="#") ОБРАТНАЯ СВЯЗЬ

  #wrapper
    .header-in
      .container
        img(src="images/logobig.png")
        p РАМЕНСКИЙ ПРИБОРОСТРОИТЕЛЬНЫЙ ЗАВОД
    .content
      .container
        .left-side
          ul
            li
              a(href="politika.html") Политика в области качества
            li
              a(href="politika-2.html") Кадровая политика
            li.active-li
              a(href="politika-3.html") Социальная политика
            li
              a(href="politika-4.html") Охрана труда и экология
        .right-side
          h1 СОЦИАЛЬНАЯ ПОЛИТИКА
          img(src="images/dontknow2.png")
          p
            |Системный подход в работе предприятия включает одно из ключевых направлений – социальную политику. 
          p
            |Она охватывает широкий комплекс мероприятий: 
            br
            |- создание благоприятных, комфортных условий труда, устойчивого морально-психологического климата и работу по скорейшей адаптации сотрудника в коллективе
            br
            br
            |- предоставление сотрудникам рабочих мест, отвечающих всем требованиям и нормам техники безопасности и производственной санитарии
            br
            br
            |- оборудование подразделений завода комнатами приема пищи, наличие тренажерных залов для занятий спортом
            br
            br
            |- поддержание высокой культуры производства: ухоженная территория, газоны, цветники создают чувство уюта и комфорта
            br
            br
            |- наличие системы наставничества: каждый новый работник находится «под опекой» высококвалифицированного специалиста
            br
            br
            |- активная работа с молодежью: на предприятии действует Совет молодежи, представители молодого поколения ежегодно участвуют в туристических слетах и других мероприятиях
            br
            br
            |- проведение зимних и летних спартакиад по 16 видам спорта, турниров по футболу, волейболу, теннису, шахматам и биатлону
            br
            br
            |- постоянное улучшение жилищных условий сотрудников: на заводе действует общежитие «Полет», 54 семьи проживают в благоустроенных однокомнатных квартирах для молодых специалистов, работникам завода предоставляется заем в качестве помощи в строительстве жилья
            br
            br
            |- предоставление сотрудникам возможностей отдыха в здравницах России на льготных условиях
            br
            br
            |- организацию для детей работников оздоровительного лагеря на базе СОК «Сатурн» им. С.Н. Степнова
            br
            br
            |- работу по подготовке документов к награждению сотрудников грамотами и благодарностями Минпромторга, знаками Губернатора Московской области и т.д., а также предоставление отличившимся работникам звания «Почетный ветеран завода» и награждение заводской медалью «За заслуги перед предприятием».


    .pre-footer
      .container
        h1 КОНТАКТЫ
        ul
          li 
            a(href="#") Пресс-служба
          li 
            a(href="#") Отдел кадров
          li 
            a(href="#") Службы предприятия
    .footer
