doctype html
head
  meta(name="viewport" content="width=device-width")
  link(rel="stylesheet" href="stylesheets/app.css")
  link(rel="stylesheet" href="http://i.icomoon.io/public/temp/58ba121031/UntitledProject/style.css")
  meta(charset="utf-8")
  title Раменский

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")
  script(src="https://maps.googleapis.com/maps/api/js?v=3.exp")

  script.
    require('main');
    require('coffee');


body
  #header
    a(href="index.html")
      img(src="images/logo.png")
    input(type="search" placeholder="Поиск")
    button.gosearch
    nav(id="nav" role="navigation")
      ul
        li
          a(href="info.html") О КОМПАНИИ
        li 
          a(href="product.html") ПРОДУКЦИЯ И УСЛУГИ
        li 
          a(href="press.html") ПРЕСС-ЦЕНТР
        li 
          a(href="politika.html") ПОЛИТИКА ПРЕДПРИЯТИЯ
        li 
          a(href="rabota.html") КАРЬЕРА
        li 
          a(href="#") ОБРАТНАЯ СВЯЗЬ

    nav(id="nav-mobile" role="navigation")
      span.menu-btn меню  
      ul
        li
          a(href="info.html") О КОМПАНИИ
        li 
          a(href="product.html") ПРОДУКЦИЯ И УСЛУГИ
        li 
          a(href="press.html") ПРЕСС-ЦЕНТР
        li 
          a(href="politika.html") ПОЛИТИКА ПРЕДПРИЯТИЯ
        li 
          a(href="rabota.html") КАРЬЕРА
        li 
          a(href="#") ОБРАТНАЯ СВЯЗЬ

  #wrapper
    .header-in
      .container
        img(src="images/logobig.png")
        p РАМЕНСКИЙ ПРИБОРОСТРОИТЕЛЬНЫЙ ЗАВОД
    .content
      .container
        .left-side
          ul
            li.active-li 
              a.first(href="") Вакансии
            li
              a(href="") Истории успеха
            li
              a(href="") Обращение к кандидатам
            li
              a(href="") Образовательные программы
        .right-side-2
          h1 ВАКАНСИИ
          .vakansii
            .block
              p.title Инженер-авиостроитель
              p.price 67 000
              p.date 18 мая 2015
              .more
                p.subtitle ТРЕБОВАНИЯ
                p.text 
                  |Опыт работы: 3 года. Высшее профессиональное (техническое) образование.  
                  |стаж работы по специальности в газоперерабатывающей отрасли на инженерно-технических  и руководящих должностях
                p.subtitle УСЛОВИЯ
                p.text 
                  |Социальный пакет. 
                  |Cтарший механик производства подготовки и розлива углеводных фракций. инженер.
                button Откликнуться
            .block
              p.title Инженер-авиостроитель
              p.price 67 000
              p.date 18 мая 2015
              .more
                p.subtitle ТРЕБОВАНИЯ
                p.text 
                  |Опыт работы: 3 года. Высшее профессиональное (техническое) образование.  
                  |стаж работы по специальности в газоперерабатывающей отрасли на инженерно-технических  и руководящих должностях
                p.subtitle УСЛОВИЯ
                p.text 
                  |Социальный пакет. 
                  |Cтарший механик производства подготовки и розлива углеводных фракций. инженер.
                button Откликнуться
            .block
              p.title Инженер-авиостроитель
              p.price 67 000
              p.date 18 мая 2015
              .more
                p.subtitle ТРЕБОВАНИЯ
                p.text 
                  |Опыт работы: 3 года. Высшее профессиональное (техническое) образование.  
                  |стаж работы по специальности в газоперерабатывающей отрасли на инженерно-технических  и руководящих должностях
                p.subtitle УСЛОВИЯ
                p.text 
                  |Социальный пакет. 
                  |Cтарший механик производства подготовки и розлива углеводных фракций. инженер.
                button Откликнуться
            button.prevpage
            button.nextpage
        .menu-right-side
          .podpiska
            p.title ПОДПИСАТЬСЯ НА ВАКАНСИИ
            input(type="text" placeholder="Ваш@Емаил.ру")
            input(type="submit" value="ПОДПИСАТЬСЯ") 
          .otdel
            img(src="images/kadri.jpg")
            p.title ОТДЕЛ КАДРОВ
            p +7 495 455 54 54
            p +7 495 455 54 54
            a.email(href="mailto:job@rpz.ru") job@rpz.ru
          .rezume
            p.title ОТПРАВИТЬ РЕЗЮМЕ
            input(type="text" placeholder="Загрузить PDF/Word")
            input(type="submit" value="ЗАГРУЗИТЬ") 


    .pre-footer
      .container
        h1 КОНТАКТЫ
        ul
          li 
            a(href="#") Пресс-служба
          li 
            a(href="#") Отдел кадров
          li 
            a(href="#") Службы предприятия
    .footer
